body {
  > .skills {
    width: 100%;
    min-height: 300px;
    background-color: #e1e3f9;
    padding-left: 200px;
    padding-right: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
    @include media($desktop-s) {
      padding-left: 50px;
      padding-right: 50px;
    }
    > .chartContainer {
      position: relative;
      width: 90%;
      margin-bottom: 50px;
    }
  }
}
