$desktop: '(min-width:1025px)';
$desktop-big: '(min-width:1500px)';
$desktop-s: '(max-width:1200px)';
$tablet: '(max-width:991px)';
$mobile: '(max-width:767px)';
$tablet-w: '(max-width:1024px)';

// color
$primary: #17015e;
